<%-include ../view/partials/header.ejs %>

<!DOCTYPE html>
<html lang="" en>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
<style>
    .bold {
        font-weight: bold;
    }

    .F1 {
        font-family: "Times New Roman", Times, serif;
    }

    .font16 {
        font-size: 16px;
    }

    .font30 {
        font-size: 30px;
    }

    .padding-bt {
        padding-bottom: 1.5%;
    }

    .padding-ls {
        padding-inline-start: 4.0%;
    }

    .padding-le {
        padding-inline-end: 4.0%;
    }

    .padding-t {
        padding-top: 1.5%;
    }
</style>

<body>
    <div class="text-center F1 font30 padding-bt padding-t bold">MVC Test of Computer Science KMITL</div>
    <div class="text-center F1 font16 padding-bt padding-t bold">Edit Your Information</div>
    
                <form>
                        <table width="25%" border="0" id="countries">
                            <tr>
                                <td>Name</td>
                                <td><input type="text" name="name" id="name" value="<%= name %>" /></td>
                            </tr>
                            <tr>
                                <td>Tell</td>
                                <td><input type="text" name="Tell" id="Tell" value="<%= Tell %>" /></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><input type="text" name="Address" id="Address" value="<%= Address %>" /></td>
                            </tr>
                            <tr>
                                <td>salary</td>
                                <td><input type="text" name="salary" id="salary" value="<%= salary %>" /></td>
                            </tr>
                            <tr>
                                <td>dept_name</td>
                                <td><input type="text" name="dept_name" id="dept_name" value="<%= dept_name %>" />
                                </td>
                            </tr>

                            <tr>
                                
                                <td><input type="submit" name="Submit" value="Edit" /></td>
                            </tr>
                        </table>
                        <input type="hidden" name="_method" value="PUT" />
                    </form>

</body>
